# 파일명: docker-compose-aws.yml (AWS 서버용)
services:
  backend:
    build:
      context: ./backend
    container_name: didim-backend
    restart: always  
    volumes:
      - ./backend/db.sqlite3:/app/db.sqlite3
      - media_volume:/app/media
    env_file:
      - ./backend/.env
    expose:
      - "8000"    

  frontend:
    build:
      context: ./frontend
    container_name: didim-frontend
    restart: always        
    ports:
      - "80:80"            
    depends_on:
      - backend
    volumes:
      - media_volume:/app/media
    env_file:
      - ./frontend/.env

volumes:
  media_volume: