services:
  backend:
    build: ./backend
    container_name: didim_backend
    restart: always
    volumes:
      - ./backend/db.sqlite3:/app/db.sqlite3 # 로컬 DB 동기화
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - ./backend/.env # 환경변수 파일 (Secret Key 등)

  nginx:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    container_name: didim_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - backend

volumes:
  static_volume:
  media_volume: